name: ci

on:
  - push

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: core/dicc/package.json
          cache: pnpm
      - name: Update NPM
        run: npm i -g npm@latest
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint code
        run: pnpm -r lint
      - name: Build packages
        run: pnpm -r build
      - name: Run tests
        run: pnpm -r test
      - name: Lint packages
        run: pnpm -r publint
      - name: Publish packages
        if: github.ref_name == 'main'
        run: pnpm -r publish
